body {
  /* Rewirite default body from bootrap*/

  font-family: 'Playfair Display' !important;
  background-color: #0c1813 !important;
  font-weight: 400 !important;
  color: #e5e1d2 !important;

  /*margin: 0;*/
  /*font-size: var(--bs-body-font-size);*/
  /*line-height: var(--bs-body-line-height);*/
  /*text-align: var(--bs-body-text-align);*/
  /*-webkit-text-size-adjust: 100%;*/
  /*-webkit-tap-highlight-color: transparent;*/
}

html {
}
